<!DOCTYPE html>
<html>
<head>
    <title>Flapper News</title>
    <link rel='stylesheet' href='/bower_components/bootstrap-css-only/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript"
            src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/bower_components/ng-table/dist/ng-table.js"></script>
    <script type="text/javascript" src="/javascripts/angularApp.js"></script>

</head>

<body ng-app="flapperNews">

<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
</nav>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
    </div>
</div>

<!--HOME INLINE TEMPLATE-->
<script type="text/ng-template" id="/home.html">

    <div class="page-header">
        <h1>Flapper News</h1>
    </div>

    <div ng-repeat="post in posts | orderBy:'-upvotes'">

        <span class="glyphicon glyphicon-thumbs-up"
              ng-click="incrementUpvotes(post)">
        {{post.upvotes}}
        </span>

        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
              {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
            <span ng-show="post.author">
                posted by <a>{{post.author}}</a> |
            </span>

            <span>
                <a href="#/posts/{{post._id}}">Comments</a>
            </span>

        </span>
    </div>

    <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.
        </h3>
    </div>

    <form ng-submit="addPost()"
          ng-show="isLoggedIn()"
          style="margin-top:30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Title"
                   ng-model="title">
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Link"
                   ng-model="link">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</script>


<!--POSTS INLINE TEMPLATE-->
<script type="text/ng-template" id="/posts.html">
    <div class="page-header">
        <h3>
            <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
            </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
        </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(comment)">
        {{comment.upvotes}} - by {{comment.author}}
    </span>

    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
    </div>

    <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>

    <form ng-submit="addComment()"
          ng-show="isLoggedIn()"
          style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Comment"
                   ng-model="body">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>

</script>

<script type="text/ng-template" id="/register.html">
    <div class="page-header">
        <h1>Flapper News</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
          style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</script>

<script type="text/ng-template" id="/login.html">
    <div class="page-header">
        <h1>Flapper News</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
          style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</script>

</body>
</html>
